<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Platform Status Indicator</title>
</head>

<body>
    <h1>Platform Status Indicator</h1>
    <div id="indicator">
        <div class="status" v-for="fragment of fragments">
            <div class="fragment">
                <h2>{{ fragment.fragment || '#' }}</h2>
                <div class="engine" v-for="engine of engines">
                    <div v-if="fragment.engines[engine]">
                        <h3>{{ engine }}</h3>
                        <ul class="entry-list" v-for="statusEntry of entry.engines[engine]">
                            <li>{{ statusEntry.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="vue.min.js"></script>
    <script src="index.js"></script>
</body>

</html>