html {
    min-width: 20rem;
}


* {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

button {
    -webkit-appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: inherit;
}


.app-name {
    background: #fafafa;
    float: left;
    padding: .25rem;
}

.app-link {
    background: #fafafa;
    padding: .25rem;
    text-align: right;
}

.app-link:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}


.fragment-name {
    background: #eeeeee;
    font-weight: bold;
    padding: 0.25rem;
}

.fragment-name button {
    text-decoration: underline;
    color: -webkit-link;
}

.engine {
    margin: .5rem 0;
}

.engine:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}

.engine-name {
    float: left;
    margin: 0;
    padding: .25rem;
}

.engine-name .icon {
    width: 2rem;
}


.entry-list {
    position: relative;
    padding-left: 2.5rem;
}

.entry {
    float: left;
    padding: .25rem;
}

.entry-button {
    background: #eeeeee;
    position: relative;
}

.closed .entry-button {
    background: transparent;
}

.entry-button .icon {
    width: 2rem;
}

.entry-button .behindFlag {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 1rem;
}

.entry-button .prefixed {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 1rem;
}


.entry-details {
    background: #eeeeee;
    border-bottom: thin solid #aaa;
    left: 0;
    padding: .5rem;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.closed .entry-details {
    display: none;
}

.entry-details .title {
    font-weight: bold;
}

.entry-details .detail {
    margin-bottom: .5rem;
}

.entry-details .link {
    font-size: .83em;
}
