* {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

button {
    -webkit-appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: inherit;
}


html {
    min-width: 20rem;
}

.app-name {
    background: #eee;
    padding: .25rem;
}

.fragment-name {
    background: #ccc;
    font-weight: bold;
    padding: 0.25rem;
}

.engine {
    margin: .5rem 0;
}

.engine:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}

.engine-name {
    float: left;
    margin: 0;
    padding: .25rem;
}

.engine-name .icon {
    width: 2rem;
}


.entry-list {
    position: relative;
}

.entry {
    float: left;
    padding: .25rem;
}

.entry-button {
    background: #eee;
    position: relative;
}

.closed .entry-button {
    background: transparent;
}

.entry-button .icon {
    width: 2rem;
}

.entry-button .behindFlag {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 1rem;
}

.entry-button .prefixed {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 1rem;
}


.entry-details {
    background: #eee;
    left: 0;
    padding: .5rem;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.closed .entry-details {
    display: none;
}

.entry-details .title {
    font-weight: bold;
}
